{% extends ".\base.html" %}

{% block title %}Update Service{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/services/update/{{ministration.minisid}}">  
    {% csrf_token %}  
    <div class="container">   
        <div class="col-12">  
            <h3>Edit a Service</h3>  
        </div>
        
        <div class="mb-3">
            <label> ID:</label>
            <input type="text" class="form-control" name="minisid" id="minisid" required maxlength="20" value="{{ministration.minisid}}"/>
        </div>
        <div class="mb-3">
            <label>Service:</label>
            <input type="text" class="form-control" name="name_ministration" id="name_ministration" required maxlength="20" value="{{ministration.name_ministration}}"/>
        </div>
        <div class="mb-3">
            <button type="submit"  class="btn btn-danger btn-lg">Update</button>
        </div>
    </div>
</form>
</div>
{% endblock content %}