{% extends ".\base.html" %}
  
{% block title %}Service{% endblock title %}
  
{% block content %}
<section class="page-section">
    <div class="container">
        {%if is_admin%}
        <span><a href="/services/create" class="btn btn-primary">Add New Service</a></span>  
        {%endif%}
            <h1>Our Services</h1>
            <table class="table table-bordered" id="example" style="text-align: center;">
                <thead class="table success">
                    <tr>
                        <th style="width: 20%;">Service Name</th>
                        <th style="width: 50%;">Description</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for ministration in ministrations %}
                    <tr>
                        <td>{{ ministration.name_ministration }}</td>
                        <td>{{ ministration.detail }}</td>
                        {%if is_admin%}
                        <td><a  href="services/edit/{{ ministration.minisid }}" class="btn btn-info">Edit</a></td>
                        <td><a href="services/delete/{{ ministration.minisid }}" class="btn btn-danger">Delete</a></td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</section>   
{% endblock content %}

