{% extends ".\base.html" %}

  
{% block title %}Service{% endblock title %}
  
{% block content %}
 <div class="col-md-12">
        <span><a href="/services/create" class="btn btn-primary">Add New Service</a></span>  
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Service</th>
            </thead>
            <tbody>
            {% for ministration in ministrations %}  
                <tr>  
                <td><input type="checkbox" class="checkthis" /></td>
                <td>{{ ministration.minisid }}</td>  
                <td>{{ ministration.name_ministration }}</td>  
                <td><a href="services/edit/{{ ministration.minisid }}" class="btn btn-primary">Edit</a></td>
                <td><a href="services/delete/{{ ministration.minisid }}" class="btn btn-danger">Delete</a></td>  
                </tr>  
            {% endfor %} 
            </tbody>
            </table>
            </div>
    </div>
{% endblock content %}