{% extends "doctor.html" %}
    
{% block title%} Edit Medicines {% endblock %}

{% block content %}
<section class="page-section" >
    <div class="container">
        <form method="POST" class="post-form" action="/medicine/update/{{ medicine.id }}">  
            {% if messages %}
                <div class="alert alert-danger">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% csrf_token %} 
            <div class="row">
                <div class="col text-center">
                    <h2>Update Medicie</h2>
                </div>
            </div> 
            <div class="container">    
                <div class="mb-3"> 
                    <label>Name</label>  
                    <input type="text" class="form-control" name="name" value="{{ medicine.name }}"/>    
                </div> 

                <div class="mb-3"> 
                    <label>Active Ingredient</label>  
                    <input type="text" class="form-control" name="active_ingredient" value="{{ medicine.active_ingredient }}" />  
                </div>

                <div class="mb-3"> 
                    <label>Manufacturer</label>  
                    <input type="text" class="form-control" name="manufacturer" value="{{ medicine.manufacturer }}" />  
                </div>

                <div class="mb-3"> 
                    <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">Update</button>  
                </div> 

            </div>  
        </form>
    </div>
</section>
{% endblock content %}
