{% extends 'base.html' %}

{% block title %}Role for User{% endblock title %}

{% block content %}
<section class="page-section" >
    <div class="container">
        {%if is_admin%}
        <form method="POST" class="post-form" action="/authrole/create">
            {% csrf_token %}
            <div class="container">

                <div class="col-12">
                    <h3>Assign Role</h3>
                </div>
    
                <div class="mb-3">
                    <label>User Name:</label>
                    {{form.user}}
                </div>
            
                <div class="mb-3">
                    <label>Role :</label>
                    {{form.group}}
                </div>

                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                
            </div>
        </form>
        {% endif %}
    </div>
</section>
{% endblock content %}