{% extends 'base.html' %}

{% block title %}Assign role{% endblock title %}\

{% block content %}
<div class="col-md-12">
    <span><a href="/authrole/create" class="btn btn-primary">Assign role</a></span>  
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>User name</th>
            <th>Roles</th>
        </thead>
        <tbody>
            {%for authrole in authroles %}
            <tr>  
                <td><input type="checkbox" class="checkthis" /></td>
                <td>{{authrole.id}}</td>
                <td>{{authrole.user}}</td>
                <td>{{authrole.group}}</td>
                <td><a href="authrole/edit/{{ authrole.id }}" class="btn btn-info">Edit</a></td>
                <td><a href="authrole/delete/{{ authrole.id }}" class="btn btn-danger">Delete</a></td>  
            </tr>  
        {% endfor %} 
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}