{% extends 'base.html' %}

{% block title %}Add New Doctor{% endblock title %}

{% block content %}
<section class="page-section" >
    <div class="container">
        <div class="card">
            {%if is_doctor or is_admin %}
            <div class="card-body">
                <form id="doctorsForm" method="POST" action="/doctors/create"  enctype="multipart/form-data" >
                    {% csrf_token %}
                    <h1>Enter Doctors</h1>
                   
                    <div class="form-group">
                        <label for="img">Doctor's Image:</label>
                        <input type="file" class="form-control" id="img" name="images" accept="media" required>
                    </div>

                    <div class="form-group">
                        <label for="Name">Doctor's Name:</label>
                        <input type="text" class="form-control" id="Name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="Pos">Position:</label>
                        <input type="text" class="form-control" id="Pos" name="position" required>
                    </div>

                    <div class="form-group">
                        <label for="note">Note:</label>
                        <input type="text" class="form-control" id="note" name="note" >
                    </div>

                    <div class="form-group">
                        <label for="department">DepartmentID</label>
                        <select class="form-control" id="department" name="department" required>
                            <option value="" disabled selected>Select Department</option>
                            {%for department in departments %}
                            <option value="{{department.departmentid}}">{{department.named}}</option>
                            {% endfor %}
                        </select>
                    </div>
                   
                    <div class="mb-3">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                    
                </form>
            </div>
            {%endif%}
        </div>
    </div>
</section>

{% endblock content %}