{% extends 'base.html' %}

{% block title %}Add New Departments{% endblock title %}

{% block content %}
{% if is_doctor %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/departments/addnew">
        {% csrf_token %}
        <div class="container">
            <div class="col-12">
                <h3>Enter Departments</h3>
            </div>

            <div class="mb-3">
                <label>Name Department:</label>
                {{form.named}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}