{% extends 'admin.html' %}

{% block content %}

{%if is_admin%}
<section class="page-section" >
    <div class="container">
        <form method="POST" class="post-form" action="/authrole/create">
            <div class="row">
                <div class="col text-center">
                    <h1>Assign Role</h2>
                </div>
            </div>
            {% if messages %}
                <div class="alert alert-danger">
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="container">
                <div class="mb-3">
                    <label>User Name:</label>
                    {{form.user}}
                </div>
            
                <div class="mb-3">
                    <label>Role :</label>
                    {{form.group}}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-danger mx-auto d-block">Submit</button>
                </div>                
            </div>
        </form>
    </div>
</section>
{% endif %}

{% endblock content %}