{% extends 'admin.html' %}

{% block content %}

{%if is_admin%}
<section class="page-section" >
    <br>
    <br>
    <div class="container">
        <form method="POST" class="post-form" action="/authrole/create">
            <div class="row">
                <div class="col text-center">
                    <h1>Assign Role</h2>
                </div>
            </div>
            <br>
            {% csrf_token %}
            <div class="center">
                <div class="col">
                    <div class="card card-body">
    
                            <div class="form-group" style="margin-right: 10px;">
                                <label>User Name</label>
                                {{form.user}}
                            </div>
            
                            <div class="form-group" style="margin-right: 10px;">
                                <label>Role </label>
                                {{form.group}}
                            </div>
            
                            <div class="form-group" style="margin-right: 10px;">
                                <button type="submit" class="btn btn-danger mx-auto d-block">Submit</button>
                            </div> 
     
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endif %}

{% endblock content %}