{% extends "admin.html" %}

{% block content %}

{%if is_admin %}
<section class="page-section" >
    <div class="container">
        <form method="POST" class="post-form" action="/doctors/update/{{doctors.doctorid}}">  
            {% csrf_token %}  
            <div class="container">  
                <div class="col-12">  
                    <h3>Update Doctor</h3>  
                </div>
                
                <div class="mb-3">
                    <label> Name Doctor:</label>
                    <input type="text" class="form-control" name="doctorname" id="doctorname" required maxlength="20" 
                                            value="{{doctors.doctorname}}"/>
                </div>

                <div class="mb-3">
                    <label> Email:</label>
                    <input type="text" class="form-control" name="email" id="email" required maxlength="20" 
                                            value="{{doctors.email}}"/>
                </div>

                <div class="mb-3">
                    <label> Position:</label>
                    <input type="text" class="form-control" name="position" id="position" required maxlength="20" 
                                            value="{{doctors.position}}"/>
                </div>
            
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger btn-lg">Update</button>
                </div>
            </div>
        </form>
    </div>
</section>

{%endif%}
{% endblock content %}