{% extends "doctor.html" %}

{% block title %}Edit Customer{% endblock title %}

{% block content %}
<section class="page-section">
    <div class="container">
        <form method="POST" class="post-form" action="/customers/update/{{ client.id }}">
            {% if messages %}
            <div class="alert alert-danger{% if messages.tags %} {{ messages.tags }}{% endif %}">
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row">
                <div class="col text-center">
                    <h2>Update Customer</h2>
                </div>
            </div>
            <div class="container">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="fullname">Full Name:</label>
                    <input type="text" class="form-control" name="fullname" id="fullname" value="{{ client.fullname }}" required>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" value="{{ client.email }}" required>
                </div>

                <div class="mb-3">
                    <label for="telephone">Telephone</label>
                    <input type="telephone" class="form-control" name="telephone" id="telephone" value="{{ client.telephone }}" required>
                </div>

                <div class="mb-3">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" name="birthday" id="birthday" value="{{ client.birthday |date:'Y-m-d' }}" required>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address" value="{{ client.address }}" >
                </div>

                <div class="mb-3">
                    <label for="sex">Sex</label>
                    <select class="form-control" id="inputSex" name="sex" required>
                        <option value="" disabled>Select sex</option>
                        <option value="Male" {% if client.sex == "Male" %}selected{% endif %}>Male</option>
                        <option value="Female" {% if client.sex == "Female" %}selected{% endif %}>Female</option>
                        <option value="Other" {% if client.sex == "Other" %}selected{% endif %}>Other</option>
                    </select>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">Update</button>
                </div>

            </div>
        </form>
    </div>
</section>
{% endblock content %}
