{% extends 'base.html' %}

{% block title%} Doctors {% endblock %}

{% load static %}
<link href="{% static "css/main.css"%}" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

{% block content %}
<section class="page-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" 
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h1>Our Doctors</h1>
                </div>
            </div>
        </div>

        <div class="row">
            {%for doctors in doctors %}
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" 
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <!-- Team Thumb-->
                    <div class="advisor_thumb"><img class="img-card" src="media/{{doctors.images}}" 
                        alt="{{ doctors.name }} Image" width="100%" />
                        <!-- Social Info-->
                        <div class="social-info"><h4>{{doctors.name}}</h4></div>
                    </div>
                    <!-- Team Details-->
                    <div class="single_advisor_details_info">
                        <h6>{{doctors.position}}</h6>
                        <h8>{{doctors.department}}</h8>
                        <p class="designation">{{doctors.email}} &amp; CEO</p>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a href="{% url 'create_appointment' %}?docid={{ doctors.id }}&docname={{ doctors.name }}" class="book-appointment" onclick="saveDoctorInfo('{{ doctors.name }}')">Booking Appointment</a> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    function logParameters(docid, doctorname) {
        console.log('docid:', docid);
        console.log('doctorname:', doctorname);

        // Update the <span> element with the doctor's name
        const doctorNameDisplay = document.getElementById('doctorNameDisplay');
        doctorNameDisplay.textContent = doctorname;
    }
</script>

<script>
    function saveDoctorInfo(doctorName) {
        sessionStorage.setItem('selectedDoctor', doctorName);
    }
</script>
{% endblock content %}
