{% extends ".\base.html" %}
  
{% block title %}Index{% endblock title %}
  
{% block content %}
 <div class="col-md-12">
        <span><a href="/appointments/create" class="btn btn-primary">Create New</a></span>  
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Doctor Name</th>
                <th>Attention</th>
            </thead>
            <tbody>
            {% for appointments in appointment %}  
                <tr>  
                <td><input type="checkbox" class="checkthis" /></td>
                <td>{{ appointments.appointmentid }}</td>  
                <td>{{ appointments.datebooking }}</td>
                <td>{{ appointments.customerid }}</td>  
                <td>{{ appointments.serviceid }}</td>  
                <td>{{ appointments.docid }}</td>  
                <td>{{ appointments.note }}</td>    
                <td><a href="appointments/delete/{{ appointments.appointmentid }}" class="btn btn-danger">Delete</a></td>  
                </tr>  
            {% endfor %} 
            </tbody>
            </table>
            </div>
    </div>
{% endblock content %}