{% extends ".\base.html" %}
  
{% block title %}Index{% endblock title %}
  
{% block content %}
{% if is_admin or is_manager %}
 <div class="col-md-12">
        <span><a href="/appointments/create" class="btn btn-primary">Create New</a></span>  
        <span><a href="{% url 'export_excel' %}" class="btn btn-success">Export Excel</a></span>
        <span><a href="{% url 'export_csv' %}" class="btn btn-info">Export CSV</a></span>
        <form method="GET" action="">
            <div class="form-group">
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date">
                <button type="submit" class="btn btn-success">Filter Appointments</button>
            </div>
        </form>
    
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>Service</th>
                <th>Doctor</th>
                <th>Notes</th>
            </thead>
            <tbody>
            {% for appointments in appointment %}  
                <tr>  
                <td>{{ appointments.fullname }}</td>
                <td>{{ appointments.email }}</td>  
                <td>{{ appointments.phone }}</td>  
                <td>{{ appointments.datebooking }}</td> 
                <td>{{ appointments.timebooking }}</td>  
                <td>{{ appointments.serviceid }}</td>
                <td>{{ appointments.docid }}</td>  
                <td>{{ appointments.note }}</td>      
                <td><a href="appointments/delete/{{ appointments.appid }}" class="btn btn-danger">Delete</a></td>     
                </tr>  
            {% endfor %} 
            </tbody>
            </table>
            </div>
    </div>
{%endif%}
{% endblock content %}