{% extends "base.html" %}

{% block title %}Prescriptions{% endblock title %}

{% block content %}
<section class="page-section">
    <div class="container">
        {% if is_doctor or is_admin %}
            <span><a href="/prescriptions/create" class="btn btn-primary">Create Prescription</a></span>
            <br>
            <br>
            <div class="card card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-md-2">
                            {{filter.form.as_p}}
                            <button type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>

            <div class="row mt-3">
                {% for prescription in prescription %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body ">
                                <h4 class="card-title">{{ prescription.name_disease }}</h4>
                                <p class="card-text"><strong>Patient:</strong> {{ prescription.patient }}</p>
                                <p class="card-text"><strong>Doctor:</strong> {{ prescription.doctor }}</p>
                                <p class="card-text"><strong>Symptoms:</strong> {{ prescription.symptoms }}</p>
                                <p class="card-text"><strong>Medicine:</strong> {{ prescription.medicine }}</p>
                                <p class="card-text"><strong>Date:</strong> {{ prescription.start_date }}</p>
                                <p class="card-text"><strong>Date to return:</strong> {{ prescription.re_examination_date }}</p>
                                <p class="card-text"><strong>Note:</strong> {{ prescription.note }}</p>
                                <div class="btn-group">
                                    <a href="prescriptions/edit/{{ prescription.id }}" class="btn btn-info">Edit</a>
                                    <a href="prescriptions/delete/{{ prescription.id }}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
