{% extends "doctor.html" %}

{% block title%} Prescriptions {% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        {% if is_doctor or is_admin %}
            <span><a href="/prescriptions/create" class="btn btn-primary">Create Prescription</a></span>
            <br>
            <br>
            <div class="center">
                <div class="col">
                    <div class="card card-body ">
                        <form method="get" class="form-inline">
                            <div class="form-group" style="margin-right: 10px;">
                                <label for="patient">Patient:</label>
                                <select class="form-control" id="patient" name="patient">
                                    {% for patient_choice in filter.form.patient.field.choices %}
                                       <option value="{{patient_choice.0}}" {% if patient_choice.0 == filter.form.patient.value %} selected {% endif %}>{{patient_choice.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <label for="doctor">Doctor:</label>
                                <select class="form-control" id="doctor" name="doctor">
                                    {% for doctor_choice in filter.form.doctor.field.choices %}
                                      <option value="{{doctor_choice.0}}" {% if doctor_choice.0 == filter.form.doctor.value %} selected {% endif %}>{{doctor_choice.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <label for="start_date"> Date:</label>
                                <input type="date" name="start_date" class="form-control" value="{{filter.form.start_date.value}}"/>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <label for="re_examination_date"> Date to Return:</label>
                                <input type="date" name="re_examination_date" class="form-control" value="{{filter.form.re_examination_date.value}}"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="row mt-3">
                {% for prescription in prescription %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body ">
                                <h4 class="card-title">{{ prescription.name_disease }}</h4>
                                <p class="card-text"><strong>Patient:</strong> {{ prescription.patient }}</p>
                                <p class="card-text"><strong>Doctor:</strong> {{ prescription.doctor }}</p>
                                <p class="card-text"><strong>Symptoms:</strong> {{ prescription.symptoms }}</p>
                                <p class="card-text"><strong>Medicine:</strong> {{ prescription.medicine }}</p>
                                <p class="card-text"><strong>Date:</strong> {{ prescription.start_date }}</p>
                                <p class="card-text"><strong>Date to return:</strong> {{ prescription.re_examination_date }}</p>
                                <p class="card-text"><strong>Note:</strong> {{ prescription.note }}</p>
                                <div class="btn-group">
                                    <a href="prescriptions/edit/{{ prescription.id }}" class="btn btn-info">Edit</a>
                                    <a href="prescriptions/delete/{{ prescription.id }}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}