{% extends 'base.html' %}

{% block content %}

    <section class="page-section">
        <form method="POST" class="post-form" action="/news/details/{{ article.id }}">
        <div class="container">
            <div class="row">
                <div class="jumbotron text-center">
                    <h1 class="section-heading mb-4">{{ article.title }}</h1>
                    <h6>{{ article.content }}</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p>{{article.description}}</p>
            </div>
        </div>
    </section>

{% endblock content %}
