{% extends 'base.html' %}
  
{% block title%} Login {% endblock %}
  
{% block content %}
    <section class="page-section">
        <div class="login">
            <div class="login_box">
                <div class="left">
                    <div class="top_link"><a href="/"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
                    <div class="contact">
                        <form method="POST" action="{% url 'login' %}" class="post-form"> 
                            {% csrf_token %}
							{% if msg %}
								<div class="alert alert-danger">
									{{ msg }}
								</div>
							{% endif %} 
							<br>
                            <h3>Login</h3>
                            <label for="Username">Username</label>
                            {{ form.username }}
                            <label for="Password">Password</label>
                            {{ form.password }}
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button class="btn btn-primary" type="submit">LET'S GO</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="right-text">
                        <h2>Hospital Hub</h2>
                        <h5>The hospital where you can just</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
