{% extends "base.html" %}
  
{% block title %}Main{% endblock title %}

{%block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Studio!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-danger btn-xl text-uppercase" href="/appointments/create">Take appointments</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">We have many services to choose from</h3>
                </div>
                <div class="row text-center">
                    {% for ministration in ministrations %}
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">{{ ministration.name_ministration }}</h4>
                        <p class="text-muted">{{ ministration.detail }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>      
        
        <!--Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Doctors</h2>
                    <h3 class="section-subheading text-muted">We got many doctors from the worlds</h3>
                </div>
                <div class="row">
                    {% for docs in doc %}
                    <div class="col-20 col-sm-9 col-lg-4">
                        <div class="card-container">
                            <img class="round img-resize" src="media/{{docs.images}}" alt="{{ docs.doctorname }} Image" />
                            <h3>{{docs.doctorname}}</h3>
                            <h6>{{docs.departmentid}}</h6>
                            <p>{{docs.position}}</p>
                        
                            <div class="buttons">
                                <button class="primary">
                                    Message
                                </button>
                                <button class="primary ghost">
                                    Following
                                </button>
                            </div>
                        </div>
                    </div> 
                    {%endfor%}        
                </div>
            </div>
        </section>
{%endblock%}