{% extends "admin.html" %}

{% block content %}

{%if is_admin %}
<section class="page-section" >
    <div class="col-md-12">
        <form method="POST" class="post-form" action="/services/update/{{ministration.minisid}}">  
            <div class="row">
                <div class="col text-center">
                    <h3>Edit a Service</h3>  
                </div>
            </div>
            {% csrf_token %}  
            <div class="container">   
                <div class="mb-3">
                    <label>Service:</label>
                    <input type="text" class="form-control" name="name_ministration" id="name_ministration" 
                    required maxlength="20" value="{{ministration.name_ministration}}"/>
                </div>

                <div class="mb-3">
                    <label>Service:</label>
                    <input type="text" class="form-control" name="detail" id="detail" r
                    equired maxlength="80" value="{{ministration.detail}}"/>
                </div>

                <div class="form-group">
                    <button type="submit"  class="btn btn-primary mx-auto d-block">Update</button>
                </div>
                
            </div>
        </form>
    </div>
</section>

{%endif%}
{% endblock content %}