{% extends "base.html" %}
  
{% block title%} Our Services {% endblock %}


{% block content %}
<section class="page-section">
    <div class="container">
        <h1>Our Services</h1>
    </div>
    <div class="row">
        {% for ministration in ministrations %}
        <div class= "col-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="card-title">
                            <a href="/services/details/{{ ministration.minisid }}">{{ ministration.name_ministration }}</a>
                        </h4>
                        <p class="card-text">{{ ministration.detail }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>   
{% endblock content %}

